.App {
  font-family: sans-serif;
}

.footer {
  text-align: center;
  font-size: 0.5rem;
  font-family: sans-serif;
  position: fixed;
  bottom: 0em;
  left: 0em;
  right: 0em;
  height: 2em;
  background-color: white;
}

.footer-filler {
  height: 2em;
  background-color: white;
}
